[submodule "sources/emmet"]
	path = sources/emmet
	url = https://github.com/mattn/emmet-vim.git
[submodule "sources/nerdtree"]
	path = sources/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "sources/surround"]
	path = sources/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "sources/bufexplorer"]
	path = sources/bufexplorer
	url = https://github.com/vim-scripts/bufexplorer.zip.git
    ignore = dirty
[submodule "sources/ctrlp.vim"]
	path = sources/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim
[submodule "sources/goyo.vim"]
	path = sources/goyo.vim
	url = https://github.com/junegunn/goyo.vim
[submodule "sources/peaksea"]
	path = sources/peaksea
	url = https://github.com/vim-scripts/peaksea.git
[submodule "sources/vim-commentary"]
	path = sources/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "sources/vim-snipmate"]
	path = sources/vim-snipmate
	url = https://github.com/garbas/vim-snipmate.git
[submodule "sources/vim-snippets"]
	path = sources/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "sources/vim-zenroom2"]
	path = sources/vim-zenroom2
	url = https://github.com/amix/vim-zenroom2.git
[submodule "sources/vim-airline"]
	path = sources/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule "sources/vim-addon-mw-utils"]
	path = sources/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "sources/syntastic"]
	path = sources/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "sources/tlib"]
	path = sources/tlib
	url = https://github.com/vim-scripts/tlib.git
    ignore = dirty
[submodule "sources/vim-repeat"]
	path = sources/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "sources/vim-pathogen"]
	path = sources/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "sources/gundo"]
	path = sources/gundo
	url = https://github.com/sjl/gundo.vim.git
[submodule "sources/vim-fugitive"]
	path = sources/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "sources/vim-markdown"]
	path = sources/vim-markdown
	url = https://github.com/gabrielelana/vim-markdown.git
[submodule "vim-visual-star-search"]
	path = vim-visual-star-search
	url = https://github.com/nelstrom/vim-visual-star-search.git
[submodule "sources/vim-visual-star-search"]
	path = sources/vim-visual-star-search
	url = https://github.com/nelstrom/vim-visual-star-search.git
