[submodule "sources_non_forked/emmet"]
	path = sources_non_forked/emmet
	url = https://github.com/mattn/emmet-vim.git
[submodule "sources_non_forked/nerdtree"]
	path = sources_non_forked/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "sources_non_forked/surround"]
	path = sources_non_forked/surround
	url = https://github.com/tpope/vim-surround.git
